<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="taskMapper">
    <select id="getTaskCnt" resultType="Integer">
        SELECT COUNT(*) FROM TASK WHERE DATE_FORMAT(DATE, "%Y-%m-%d") = CURDATE() AND COMPLETE = 0
    </select>

    <select id="getTaskList" resultType="TaskVO" parameterType="TaskVO">
        SELECT * FROM TASK
        WHERE DATE_FORMAT(DATE, "%Y-%m-%d") = CURDATE()
        <if test="complete != 3">
        AND COMPLETE = #{complete}
        </if>
        <if test="hashtag != null and hashtag != ''">
        AND HASHTAG LIKE CONCAT('%',#{hashtag},'%')
        </if>
            <if test="priority == 'asc'">
                /* 시작 빠른 순*/
                ORDER BY START_TIME ASC
            </if>
            /* 시작 느린 순*/
            <if test="priority == 'desc'">
                ORDER BY START_TIME DESC
            </if>
            /* 시작 우선순위 높은 or 낮은 순*/
            <if test="priority == 'High'">
                 ORDER BY FIELD (priority, 'High', 'Medium', 'Low')
            </if>
            <if test="priority == 'Low'">
                ORDER BY FIELD (priority, 'Low', 'Medium', 'High')
            </if>

    </select>

    <insert id="addTask" parameterType="TaskVO">
        INSERT INTO TASK VALUES
        ((SELECT ID_MAX FROM (SELECT IFNULL(MAX(ID)+1, 1) AS ID_MAX FROM TASK) A), #{title}, #{content}, #{hashtag}, 0, NOW(),
         DATE_FORMAT(#{startTime}, "%Y-%m-%d %H:%i:%s"), DATE_FORMAT(#{endTime}, "%Y-%m-%d %H:%i:%s"), #{priority})
    </insert>

    <delete id="deleteTask" parameterType="TaskVO">
        DELETE FROM TASK WHERE TITLE = #{title}  AND ID = #{id}
    </delete>

    <update id="editTask" parameterType="TaskVO">
        UPDATE TASK SET
        TITLE = #{title} , CONTENT = #{content} , HASHTAG = #{hashtag}
        , START_TIME = DATE_FORMAT(#{startTime}, "%Y-%m-%d %H:%i:%s") , END_TIME = DATE_FORMAT(#{endTime}, "%Y-%m-%d %H:%i:%s")
        , PRIORITY = #{priority}
        WHERE ID = #{id}
    </update>

    <update id="completeTask" parameterType="TaskVO">
        UPDATE TASK SET COMPLETE = #{complete} WHERE ID = #{id}
    </update>
</mapper>